<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceControlCenter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59511/ServiceControlCenter.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceControlCenter"
                contract="ServiceReference1.IServiceControlCenter" name="BasicHttpBinding_IServiceControlCenter" />
        </client>
    </system.serviceModel>
</configuration>